.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  border: none;
  background: none;
  display: grid;
  align-items: center;
  cursor: pointer;
}

h2 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
}

legend {
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Nicht-präfixierte Version, funktioniert in Chrome, Opera und Firefox 69+ */
}

.card {
  background-color: whitesmoke;
  border-radius: 15px;
  padding: clamp(10px, 3vw, 40px);
  font-size: clamp(7px, 1.5vw, 20px);
  box-shadow: 5px 5px 10px 0 rgba(123, 86, 86, 0.05);
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.01);
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

fieldset {
  border: none;
  margin: 0;
  min-inline-size: 0;
}

input {
  border: none;
  outline: none;
  margin: 0;
}

input:disabled {
  background: none;
  color: #ccc;
}

input:focus {
  background-color: lightcyan;
}

a:link {
  color: blue;
  text-decoration: none; /* Entfernt die Unterstreichung */
}

a:visited {
  /* Stil für besuchte Links */
  color: purple; /* Farbe für Links, die bereits besucht wurden */
}

a:hover,
a:focus {
  /* Stil für Links, über die man mit der Maus fährt oder die fokussiert sind */
  color: red; /* Farbe beim Hover oder Fokus */
  text-decoration: underline; /* Fügt eine Unterstreichung hinzu */
}

a:active {
  /* Stil für Links, die gerade angeklickt werden */
  color: green; /* Farbe für aktive Links */
  text-decoration: underline; /* Unterstreicht den aktiven Link */
}

.orderDivContainer {
  width: 80%;
}

.orderDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .5rem;
  padding-block: clamp(10px, 1vw, 40px);
}

.App-header {

}

.uploadDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2vw;
  max-width: fit-content;
}

.uploadForm{
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.custom-file-upload {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #e8e8e8;
  transform: scale(1.4);
}

.uploadSenderFieldset, .uploadRecipientFieldset {
  display: flex;
  flex-direction: column;
}

.uploadSenderFieldset > *, .uploadRecipientFieldset > * {
  padding-block: 1vw;
  padding-inline: 1vw;
}

.uploadLegend {
  padding: 0 0 0 1vw;
  text-align: left;
}

#senderStreet, #recipientStreet {
  border-radius: 10px 10px 0 0;
  border-top: 2px dashed cornflowerblue;
  border-inline: 2px dashed cornflowerblue;
  width: clamp(200px, 20vw, 900px);
}

#senderAdditional, #recipientAdditional {
  border-inline: 2px dashed cornflowerblue;
  width: clamp(200px, 20vw, 900px);
}

#senderEmail {
  border-radius: 10px;
  border: 2px dashed cornflowerblue;
  width: clamp(200px, 20vw, 900px);
}

.uploadZipLocationDiv, .uploadNameDiv {
  display: flex;
  align-items: flex-start;
  padding-block: 0;
  padding-inline: 0;
  width: calc(clamp(200px, 20vw, 900px) + 2vw + 4px);
}

.uploadZipLocationDiv > *, .uploadNameDiv > * {
  display: flex;
  align-items: flex-start;
  padding-block: 1vw;
  padding-inline: 1vw;
}

.uploadNameDiv > * {
  width: 50%;
}

.uploadNameDiv > :first-child {
  border-block: 2px dashed cornflowerblue;
  border-left: 2px dashed cornflowerblue;
  border-radius: 10px 0 0 10px;
}

.uploadNameDiv > :nth-child(2) {
  border-block: 2px dashed cornflowerblue;
  border-right: 2px dashed cornflowerblue;
  border-radius: 0 10px 10px 0;
}

#senderZip, #recipientZip {
  width: 20%;
  border-radius: 0 0 0 10px;
  border-left: 2px dashed cornflowerblue;
  border-bottom: 2px dashed cornflowerblue;
}

#senderLocation {
  width: 80%;
  border-radius: 0 0 10px 0;
  border-right: 2px dashed cornflowerblue;
  border-bottom: 2px dashed cornflowerblue;
}

#recipientLocation {
  width: 50%;
  border-bottom: 2px dashed cornflowerblue;
}

#recipientCountry {
  width: 29%;
  border-radius: 0 0 10px 0;
  border-right: 2px dashed cornflowerblue;
  border-bottom: 2px dashed cornflowerblue;
}

.uploadFileForm {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.uploadedFileUl{
  list-style-type: none;
  overflow: scroll;
  scrollbar-width: none;
  max-height: 100px;
  margin: 0;
  padding: 0;
}

.uploadedFileLi {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2vw;
  justify-content: space-between;
}

.uploadedFileName {
  font-size: .7rem;
}

.uploadedFileBtn {
  padding: 0;
}

.uploadedFileDeleteIc {
  height: 50%;
  width: max-content;
  text-align: left;
}

.uploadButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  column-gap: .5rem;
  background-color: lightcyan;
  width: fit-content;
}









.orderForm {
  border: solid lightgrey;
  border-radius: .5rem;
  background-color: #ddd;
}

.orderH2 {
  align-self: start;
  font-size: 1rem;
}

.orderSenderFieldset, .orderRecipientFieldset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ddd;
  border-radius: .5rem;
  padding: 0;
}

.orderLegend {
  text-align: left;
  padding-left: 1rem;
}


.orderSenderInput, .orderRecipientInput {
  text-align: start;
  background-color: #ddd;
  transition: border-radius 0s;
  padding-left: 1rem;
  font-size: 1rem;
}

.orderSenderInput:hover, .orderRecipientInput:hover {
  text-align: start;
  width: max-content;
  background-color: lightgrey;
  border-radius: .5rem;
  transition: border-radius 0.5s;
}

.orderSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1rem;
  font-size: 1rem;
  width: 100%;
}

.orderNav, .orderAside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: .9rem;
}

.orderFileLink {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.orderAside {
  column-gap: .3rem;
}

.orderBtn {
  padding: .2rem;
  border-radius: 50%;
}


/* Medienabfrage für kleinere Bildschirme */
@media (max-width: 600px) {
  .uploadForm {
    flex-direction: column;
    row-gap: 2vw;
  }
  .orderSenderFieldset, .orderRecipientFieldset {
    flex-direction: column;
  }
}